.selfview_header {
  width: 100%;
  height: 380px;
  border-radius: var(--border-radius);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
}
.p_pic {
  background-color: antiquewhite;
  flex: 2;
}
.p_details_wrapper {
  display: flex;
  flex: 1;
  background-color: var(--bg-color);
  padding: 20px;
}
.p_details {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5px;

  .p_personal {
    .p_name {
      font-size: 1.6rem;
      font-weight: 600;
      color: var(--fg-one);
    }
    .p_profession {
      font-size: 1rem;
      letter-spacing: 1.5px;
      font-variant: small-caps;
      color: var(--fg-one);
    }
  }
  .p_loc {
    display: flex;
    color: var(--fg-two);
    font-size: 0.9rem;
    gap: var(--flex-gap);
    .p_contact {
      color: var(--fg-three);
      font-weight: 600;
    }
  }

  .p_network {
    display: flex;
    gap: var(--flex-gap);
    color: var(--fg-three);
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
  }
  .edit_user {
    position: absolute;
    top: 0;
    right: 10px;
  }
}

.p_about {
  height: 100%;
  color: black;
  flex: 2;
  text-overflow: ellipsis;
}
