._container {
  width: 100%;
  height: 100%;
  /* background-color: var(--bg-color); */
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 150px; */
}
