@import url("../../globalStyles/colors.css");

.heading_cl {
  font-family: sans-serif;
}
.xs {
  font-size: var(--font-xs);
}
.sm {
  font-size: var(--font-sm);
}
.md {
  font-size: var(--font-md);
}
.lg {
  font-size: var(--font-lg);
}
.xl {
  font-size: var(--font-xl);
}
