.wrap {
  display: flex;
  background-color: black;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.dpd {
  width: 200px;
}
.theme {
  display: flex;
  align-items: center;
  gap: 5px;
}
.theme_icon {
  color: aqua;
}
