/* ANT TOOL TIP CUSTOMISED */
.ant-tooltip {
  font-size: 12px;
}
.ant-tooltip-inner {
  background-color: var(--stone-900) !important;
}

/* ANT TABS */
.ant-tabs-ink-bar {
  background-color: var(--border-color) !important;
}

.ant-tabs-tab-btn {
  color: var(--logo) !important;
}

/* .ant-tabs-tab-active {
  border: 1px solid black;
  border-color: black !important;
} */

/* ANT TYPOGRAPHY */
.ant-typography {
  color: var(--fg-one) !important;
}
.ant-typography-expand {
  color: var(--fg-two) !important;
  text-decoration: underline !important;
}
