.header_cl {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  height: var(--header-height);
  background-color: var(--bg-one);
  padding: 0 var(--padding-one);
  box-shadow: var(--box-shadow);
  border-radius: var(--radius-three);
}
.left p {
  color: var(--logo);
  font-size: 24px;
  font-weight: 800;
}

.mid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-one);
  color: var(--fg-two);
  height: var(--header_height);
  font-size: var(--font-xs);
}

.nav_link:hover {
  color: var(--fg-one);
}

.isActive {
  color: var(--fg-one);
}
