.activity_container_one {
  gap: var(--flex-gap-one);
  background-color: var(--bg-one);
  border-radius: var(--radius-three);
  box-shadow: var(--box-shadow);
  padding: var(--padding-one);
  align-items: flex-start;
}
.activity_container_two {
  gap: var(--flex-gap-one);
}
